body {
    background: linear-gradient(20deg, #231b68,#33cba4, #4133cb, #ed86d8);
    background-size: 100% 400%;

    -webkit-animation: back-animation 15s ease infinite;
    -moz-animation: back-animation 15s ease infinite;
    animation: back-animation 15s ease infinite;
}

@-webkit-keyframes back-animation {
    0%{background-position:69% 0%}
    50%{background-position:32% 100%}
    100%{background-position:69% 0%}
}
@-moz-keyframes back-animation {
    0%{background-position:69% 0%}
    50%{background-position:32% 100%}
    100%{background-position:69% 0%}
}
@keyframes back-animation {
    0%{background-position:69% 0%}
    50%{background-position:32% 100%}
    100%{background-position:69% 0%}
}

.head {
    align-items: center;
    background: #fff;
    display: flex;
    padding-left: 1rem;
    height: 3rem;
    width: 100%;
}
.logo {
    height: 32px;
    vertical-align: sub;
    width: 32px;
}